*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  block-size: 100%;
}
.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  /*выравнивание блок .content посередине .page.*/
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}
ul,
ol {
  list-style: none;
}
.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  clip-path: inset(50%);
  white-space: nowrap;
}
.content {
  display: inline-grid;
  grid-template-columns: 711px 399px;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  align-content: end;
  gap: 30px;
  width: 1140px;
}
.result {
  display: grid;
  gap: 16px;
  align-self: end;
}
.result__video-container {
  position: relative;
  width: 711px;
  height: 386px;
}
.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover; /*расположение видио*/
}
.search-form {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  justify-content: space-between;
  align-content: start;
}
.search-form__fieldset {
  border: none;
}
.search-form__checkbox-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 15px;
}
.search-form__fieldset-title {
  color: #fff;
  font-family: "Fira Sans Condensed";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 5px;
}
.search-form__label {
  cursor: pointer;
}
.search-form__label:has(.search-form__textfield) {
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}
.search-form__label-text {
  color: #fff;
  font-family: "Fira Sans Condensed";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.search-form__label:hover > .search-form__label-text {
  text-decoration: underline;
}
.search-form__textfield {
  color: rgba(255, 255, 255, 0.7);
  font-family: "Fira Sans Condensed";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  appearance: none;
  padding: 0;
  border: 0;
  outline: none;
  background-color: transparent;
  width: 223px;
  height: 27px;
}
.search-form__label:focus {
  outline: none;
}
.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 1px;
}
.search-form__label:has(:active) {
  border: 1px solid #fff;
}
.button {
  cursor: pointer;
  min-height: 34px;
  outline: none;
}
.search-form__submit-button {
  justify-self: end;
  align-self: end;
  color: #fff;
  text-align: center;
  font-family: "Fira Sans Condensed";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  width: 194px;
  background-color: transparent;
  border: 1px solid #fff;
}
.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: -3px;
}
.button:hover {
  text-decoration: underline;
}
.button:active {
  border: 1px solid #fff;
  background: #545050;
}
.search-form__pseudo-checkbox {
  display: inline-grid;
  width: 20px;
  height: 20px;
  border: 1px solid #fff;
  padding: 1px;
}
.search-form__label:has(.search-form__checkbox) {
  display: grid;
  grid-template-columns: auto auto auto;
  align-items: center;
  justify-items: start;
  gap: 2px;
}
.search-form__checkbox:checked + .search-form__pseudo-checkbox > span {
  background-color: #fff;
  display: block;
}
.title {
  margin-bottom: 17px;
}
.content__accent {
  color: #545050;
  font-family: Oswald;
  font-size: 75px;
  font-style: normal;
  font-weight: 700;
  line-height: 70px;
  text-transform: uppercase;
}
.content__accent-color {
  color: #fff;
  font-family: Oswald;
  font-size: 75px;
  font-style: normal;
  font-weight: 700;
  line-height: 70px;
  text-transform: uppercase;
}
.content__list {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  max-height: 298px;
  overflow: auto;
  position: relative;
  gap: 30px;
}
.content__video-card {
  display: grid;
  grid-template-columns: 1fr 194px;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  justify-content: space-between;
}

.content__video-card-description-container {
  justify-self: stretch;
}
.content__video-card-thumbnail {
  width: 100%;
  height: 103px;
  object-fit: cover;
}
.content__card-link {
  color: #fff;
  font-family: Oswald;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  text-decoration: none;
  display: block;
  margin: 2px;
}
.content__card-link_current { 
  background: #545050;
}
.content__card-link:active {
  background: #545050;
}
.content__card-link:hover {
  text-decoration: underline;
}
.content__card-link:focus-visible {
  outline: 1px solid #fff;
}
.content__card-link:focus {
  outline: none;
}
.content__video-card-title {
  color: #fff;
  font-family: Oswald;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  margin-bottom: 6px;
  word-break: break-all;
}
.content__video-card-description {
  color: #fff;
  font-family: "Fira Sans Condensed";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 16.2px;
}
.more-button {
  color: #fff;
  text-align: center;
  font-family: "Fira Sans Condensed";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  background-color: transparent;
  border: 1px solid #fff;
  width: 100%;
}
